// LandingPageStyles/index.less
@import '../variables.less';

.landing-page {
  padding: 0 50px;
  margin-top: 64px;

  &__title {
    text-align: center;
    font-family: @text__font-family--header;
    margin-bottom: 20px; // Adjusted margin for visual balance
  }

  &__content {
    padding: 24px;
    min-height: 380px;
    text-align: center;
    font-size: 1.25rem;
    font-family: @text__font-family--header;

    .highlight {
      color: @primary-color;
    }
  }
}
